<div class="dynamo-main-container">
    <section>
        <h3>Ein herzliches Willkommen allen Fans der SGD</h3>
        <p>
            Ihr denkt jetzt wahrscheinlich... oh ne, nicht noch eine Fanseite, noch ein Fanprojekt, noch ein Fanclub... haben wir nicht schon genug davon. Schließ dich doch einfach einem an.
        </p>
        <p>
            Und ja - ihr habt Recht... 
        </p>
        <p>
            Na ja fast...

            Denn das hier ist der Anfang von keinem Fanclub, keiner klassischen Fanseite, sondern von etwas anderem... nicht minder tollem Projekt. Und für dieses Projekt brauch ich euch und zwar alle. Aber der Reihe nach...

            Gestern im K-Block ist mir etwas zu Ohren gekommen... lasst doch mal diesen Like-Strom bei Facebook sein... um es im ZO-Style zu sagen: Das ja wohl mal der Ober-Flop. Dem stimm ich voll und ganz zu, obwohl ich ehrlich gesagt auch oft nicht widerstehen kann. Es war/ist ja nun mal auch eine phänomenale Saison, die hinter uns liegt und wenn man nicht im K-Block schreit, seine Fahne schwängt oder mit breiter Brust auf Arbeit mit T-Shirt, Trikot oder/und Schal erscheint... na dann klickt man schon schnell mal den Herz-Button ;) Aber moment mal... wäre es nicht viel cooler, wenn wir unser eigenes Netzwerk hätten...

            Schon länger träumt mein Entwicklerherz davon... eine eigene Dynamo-App... irgendwas, was alle im K nutzen können und was unsere Gemeinschaft stärkt, aber gleichzeitig einfach nur Spaß macht. Es muss etwas sein, was nicht für Fans ist, sondern von den Fans kommt. Etwas, was wir alle zusammen auf die Beine stellen... wo es kein Fanclub X oder Y gibt, sondern nur ein der K und meinetwegen auch der K und das Grüppchen vom Familien-Block, der Haupttribühne, ...

            //TODO: Na was wohl :D

        </p>
        <p>
            Ja, wir sind da,
            das ganze Jahr,
            f&uuml;r die SGD,
            schwarz und gelb OLEEE!
            Schalalala!</p>
        <p>
            Ich hatte eine Traum und diese Traum war wunderbar.
            Europacup, es war ein Ausw&auml;rtspiel, in Amsterdam.
            Alle Dresden im Block, sie sangen nur ein Lied f&uuml;r dich.
            Oh Elbflorenz, ihr k&auml;mpft f&uuml;r uns, wir f&uuml;r dich.
        </p>
        <p>
            Auf Dynamo,
            k&auml;mpft mit stolzem Blut,
            holt den Sieg f&uuml;r uns,
            vorw&auml;rts Dresdener Jungs.
        </p>
    </section>
</div>