<div class="dynamo-main-container">
    <h3>WILLKOMMEN AUF UNSERER DYNAMO DRESDEN - FANSEITE</h3>
    <p>
        Ja, wir sind da,
        das ganze Jahr,
        f&uuml;r die SGD,
        schwarz und gelb OLEEE!
        Schalalala!</p>
    <p>
        Ich hatte eine Traum und diese Traum war wunderbar.
        Europacup, es war ein Ausw&auml;rtspiel, in Amsterdam.
        Alle Dresden im Block, sie sangen nur ein Lied f&uuml;r dich.
        Oh Elbflorenz, ihr k&auml;mpft f&uuml;r uns, wir f&uuml;r dich.
    </p>
    <p>
        Auf Dynamo,
        k&auml;mpft mit stolzem Blut,
        holt den Sieg f&uuml;r uns,
        vorw&auml;rts Dresdener Jungs.
    </p>
</div>