<div class="dynamo-main-container">
  <h3>Hier gibt´s alles, was das dynamische Herz begehrt</h3>
  <ul>
    <li><a href="http://www.dynamo-dresden.de" target="_blank">Offizielle Webseite</a></li>
    <li><a href="https://www.youtube.com/channel/UCTRY6TKbFpRuPvAIDJVKuaA" target="_blank">Youtube Kanal</a></li>
    <li><a href="https://www.youtube.com/channel/UC69IHxCNvZ3wjR-wxifBR3Q" target="_blank">DynamoFanTV</a></li>
    <li><a href="http://ultras-dynamo.de" target="_blank">Ultras Dynamo</a></li>
  </ul>
  <p>
    @twitter: <a href="https://twitter.com/dynamodresden" target="_blank">SG Dynamo Dresden</a>
  </p>
  <p>
    @facebook: <a href="https://www.facebook.com/dynamodresden.de" target="_blank">SG Dynamo Dresden</a>
  </p>
</div>