<h3>Ihr seid dran, her mit den coolen Ideen...</h3>
<form #myForm="ngForm" (ngSubmit)="onSubmitIdea()">
	<label>Ich bin der/die:</label>
	<input ngControl="author" [(ngModel)]="newIdea.author" placeholder="Wenn ihr mögt... euer Name" />

	<label>Und hier kommt mein Beitrag:</label>
	<textarea placeholder="Hier tobt euch aus... alles ist erlaubt... na ja... fast alles ;)"
	ngControl="text" [(ngModel)]="newIdea.text" >
	</textarea>

	<button type="submit">Weg damit...rein in die Box!</button>
</form>